@import "tailwindcss";
 @import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default;
 }

 .navbar {
   background: linear-gradient(90deg, #4D9FF5, #0052D4);
}
body {
  background: linear-gradient(135deg, #E0EAFC, #CFDEF3);
}
.cards {
    background: linear-gradient(135deg, #f0f4ff, #e5ecff);
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
