@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.navbar {
  background: linear-gradient(90deg, #4d9ff5, #0052d4);
}
body {
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
}
.cards {
  background: linear-gradient(135deg, #f0f4ff, #e5ecff);
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.profile-bg {
  background: linear-gradient(135deg, #E0C3FC, #8EC5FC);
}
.profile-bg-2 {
  background: linear-gradient(120deg, #FEECDC, #FDE2E4);
}

